{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Login</h1>
    <hr>
        {% if messages %}
            {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
              </div>
            </div>
            {% endfor %}
        {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input type="submit" class="btn btn-success" value="submit">
    </form>
    <p class="text-center">Don't have an account? <a href=" {% url 'register' %} ">Create an account</a>.</p>
    {% if form.errors %}
        <p> {{ form.errors.error }} </p>
    {% endif %}

{% endblock content %}

