{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Login</h1>
    <hr>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input type="submit" class="btn btn-success" value="submit">
    </form>
    <p class="text-center">Don't have an account? <a href=" {% url 'register' %} ">Create an account</a>.</p>
    {% if form.errors %}
        <p> {{ form.errors.error }} </p>
    {% endif %}
{% endblock content %}

