{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Registration</h1>
    <hr>

    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
    {% endif %}

    <form action=" {% url 'register' %} " method="post">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>

    {% if register_form.errors %}
        <p> {{ register_form.errors.error }} </p>
    {% endif %}
{% endblock content %}