{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <hr>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <p align="center">
                <a href=" {% url 'add-order' %} " class="thumbnail">
                    Заказ документа
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p align="center">
                <a href=" {% url 'user-orders' %} " class="thumbnail">
                    Просмотр заказов
                </a>
            </p>
        </div>
    </div>

{% endblock content %}