{% extends 'base.html' %}

{% block content %}
    <h1>Главная страница</h1>
    <hr>

    <div class="row">
        {% if objects %}
            {% for item in objects %}
                <div class="col-xs-6 col-md-3">
                    <p align="center">
                        <a href=" {% url item.urls %} " class="thumbnail">
                            {{item.name}}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}