{% extends 'base.html' %}

{% block content %}
    <h1>User orders</h1>
    <hr>

    {% if order_list %}
        <div class="list-group">
            {% for item in order_list %}
                <a href=" {% url 'user-order' item.id %} " class="list-group-item">
                    <h4 class="list-group-item-heading">Номер заказа: {{item.id}}</h4>
                    <p class="list-group-item-text">{{item.user_comment}}</p>
                    <p class="list-group-item-text">Статус: {{item.status}}</p>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}